@model BudgetWepApp.Models.Goal

<h2>Add a New Goal</h2>

<form asp-action="CreateGoal" method="post">
    <div class="form-gorup">
        <label asp-for="Name">Name of Goal:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Description of Goal:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <input type="hidden" asp-for="UserID" value="1" />
    <button type="submit" class="btn btn-success">Save Goal</button>
</form>