@model List<BudgetWepApp.Models.Goal>
@{
    ViewData["Title"] = "Home Page";
}

</div>
<div class="container px-4">
    <h2 class="text-center">Welcome</h2>
    <div class="container overflow-hidden">
    <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light text-center">Current Balance</div>
                <div class="p-3 border bg-light">CurrentBalance Placeholder</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light text-center">Transactions</div>
                <div class="p-3 border bg-light">Last Transaction</div>
                <div class="p-3 border bg-light">
                    <a class="btn btn-primary" asp-controller="Home"
                       asp-action="WithdrawalsPage">
                        Transactions
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light text-center">My Goals</div>
                <div class="p-3 border bg-light">
                    <div class="goalCard">
                        @foreach (var goal in Model)
                        {
                            <div class="card mb-3">
                                <div class="card-body">
                                        <h5 class="card-title">@goal.Name</h5>
                                </div>
                            </div>
                        }
                    </div>
                    <a class="btn btn-primary" asp-controller="Home"
                              asp-action="Goals">
                        Add Goals
                    </a>
                </div>
            </div>
    </div>
    </div>
    <div class="container overflow-hidden" style="margin-top: 50px;">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light text-center">Future bar graph</div>
                <div class="p-3 border bg-light">Place Holder</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light text-center">Current Goal</div>
                <div class="p-3 border bg-light">Goal PlaceHolder</div>
            </div>
        </div>
    </div>
    <div class="container overflow-hidden" style="margin-top: 50px;">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light text-center">Contact Us for Finacial Advice</div>
                <div class="p-3 border bg-light">
                    <a class="btn btn-primary" asp-controller="Home"
                         asp-action="Contact">
                        Contact
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
