@model UserViewModel
@{
    ViewData["Title"] = "Home Page";
    var golTot = 0;
    double totalExpenses = 0;
    double totalIncome = 0;
}

<div class="container px-4">
    <h2 class="text-center">Welcome</h2>
    <div class="container overflow-hidden">
    <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light text-center">Current Balance</div>
                <div class="p-3 border bg-light">@Model.User.CurrentBalance</div>
            </div>
            @foreach (Transaction transaction in Model.Transactions)
            {
                if(transaction == Model.Transactions.Last()){
                <div class="col">
                    <div class="p-3 border bg-light text-center">Transactions</div>
                <div class="p-3 border bg-light">Last Transaction @transaction.Ammount</div>
                <div class="p-3 border bg-light">
                    <a class="btn btn-primary" asp-controller="Home"
                       asp-action="WithdrawalsPage">
                        Transactions
                    </a>
                </div>
            </div>
                }
            }
            @foreach (Goal gol in Model.Goals)
            {
                 golTot = golTot + 1;
            }
            <div class="col">
                <div class="p-3 border bg-light text-center">Number of Goals</div>
                <div class="p-3 border bg-light">
                    @golTot <a class="btn btn-primary" asp-controller="Home"
                              asp-action="Goals">
                        Add Goals
                    </a>
                </div>
            </div>
    </div>
    </div>
    <div class="container overflow-hidden" style="margin-top: 50px;">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light text-center">Future bar graph</div>
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        @foreach (Goal goal in Model.Goals)
            {
            if (goal == Model.Goals.Last())
                {
            <div class="col">
                <div class="p-3 border bg-light text-center">Current Goal</div>
                <div class="p-3 border bg-light">Goal PlaceHolder</div>
            </div>
                }
            }
        </div>
    </div>
    <div class="container overflow-hidden" style="margin-top: 50px;">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light text-center">Contact Us for Finacial Advice</div>
                <div class="p-3 border bg-light">
                    <a class="btn btn-primary" asp-controller="Home"
                         asp-action="Contact">
                        Contact
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    const ctx = document.getElementById('myChart');
    @foreach (Transaction transaction in Model.Transactions)
    {
        totalExpenses = totalExpenses + transaction.Ammount;
    }
    @foreach (Income income in Model.Income)
    {
        totalIncome = totalIncome + income.IncomeAmmount;
    }
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Expenses', 'Income'],
            datasets: [{
                label: 'Income/Expenses',
                data: [@totalExpenses, @totalIncome],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
