@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4">
    <h2 class="text-center">Welcome</h2>
    <div class="container overflow-hidden">
    <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
    </div>
    </div>
    <div class="container overflow-hidden" style="margin-top: 50px;">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
        </div>
    </div>
    <div class="container overflow-hidden" style="margin-top: 50px;">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Custom</div>
            </div>
        </div>
    </div>

</div>