<h1>Thank You for submiting a Contact form!</h1>
<div>
    <p>Thank you for taking the time to contact us. We will responded to you here shortly! For now please go to the home page and continue enjoying our budget application.</p>
</div>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
