@model LoginViewModel
@{
    Layout = "log-signLayout";
}
<div style="margin-top: 50px; margin-left: 250px;margin-right: 250px; border: 2px solid black">
    <h2 class="text-center">Budget Web App Sign In</h2>
    <form asp-action="LogIn" method="post" asp-route-returnUrl="@Model.returnUrl" style="margin: 50px;">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mb-2">
            <label class="form-label" style="display: inline-block;width: 30% ">Username</label>
            <input asp-for="UserName" class="form-control" style="width: 30%" />
            <div class="col">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <label class="form-label" style="display: inline-block;width: 30%">Password</label>
            <input asp-for="Password" type="password" class="form-control" style="width: 30%" />
            <div class="col">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <input type="checkbox" title="Remember Me" asp-for="rememberMe" class="form-check-inline" style="width: 30%" />
            <label>Remember Me</label>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary" style="width: 15%">Log In</button>
            </div>
            <div class="row mt-1">
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary" style="width: 15%">Cancel</a>
        </div>
        <div class="row  mt-1">
            <a class="nav-link text-dark btn btn-primary" asp-controller="Account" asp-action="Signup" style="width: 15%">Sign Up</a>
        </div>
    </form>
</div>