@model SignupViewModel
<div style="margin-top: 50px; margin-left: 250px;margin-right: 250px; border: 2px solid black">
    <h2 class="text-center">Budget App PlaceHolder Title</h2>
    <form asp-action="Add" method="post" style="margin: 50px;">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mb-2">
            <label class="form-label" style="display: inline-block;width: 30% ">Username</label>
            <input asp-for="UserName" class="form-control" style="width: 30%" />
            <div class="col">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <label class="form-label" style="display: inline-block;width: 30% ">Email</label>
            <input asp-for="Email" class="form-control" style="width: 30%" />
            <div class="col">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <label class="form-label" style="display: inline-block;width: 30% ">PhoneNumber</label>
            <input asp-for="PhoneNumber" class="form-control" style="width: 30%" />
            <div class="col">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <label class="form-label" style="display: inline-block;width: 30%">Password</label>
            <input type="password" asp-for="Password" class="form-control" style="width: 30%" />
            <div class="col">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <label class="form-label" style="display: inline-block;width: 30%">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" style="width: 30%" />
            <div class="col">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">Sign In</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>